OPENAI_API_KEY=sk-...
TAVILY_API_KEY=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
DAYTONA_API_KEY=dtn_52e33064e02328e424f93aec4032b3e80769e693aa655096c39f570421f00c95
DAYTONA_API_URL=https://app.daytona.io/api
DAYTONA_TARGET=us
